
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  .service-banner {
    margin-top:66px;
    position: relative;
    width: 100%;
    height: 250px;
    background-image: url('/public/images/servicebanner.png'); 
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
   
   
  }
  
  
  
  
  .service-banner .s-overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    padding: 80px;
    color: white;
    
  }
  
  
  .service-banner h5 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .service-banner h1 {
    font-size: 36px;
    font-weight: bold;
  }
  
  
  .service-banner::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6px; 
    background: linear-gradient(to right,  
        #808080 20%,   
        #16427c 40%,   
        #1a73e8 60%,   
        #16427c 80%,   
        #808080 100%);
  
  }
  
  
  
  
  