.log-form-container {
    max-width: 400px; 
    margin: 150px auto; 
    padding: 20px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    background-color: #f9f9f9; 
}
.log-h2{
    text-align: center;
    margin-bottom: 20px;
}
.model-h3{
    text-align: center;
    margin-bottom: 30px;
}
.log-form-group {
    margin-bottom: 15px;
}

.log-form-group label {
    display: block;
    color: #555;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px; 
}

.log-form-group input {
    width: 100%; 
    padding: 10px;
    box-sizing: border-box; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
}


.log-button {
    padding: 10px 15px; 
    background-color: #142257; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    width: 100%; 
    font-weight: bold;
    transition: background-color 0.3s ease; 
}

.log-button:hover {
    background-color: #0f1a3b;
}


.log-error-message {
    color: red; 
    font-size: 0.9em; 
    margin: 10px 0; 
}


.forgot-password {
    margin-top: 20px; 
    text-align: center; 
}

.forgot-password a {
    color:#142257; 
    text-decoration: none; 
    font-weight: 600; 
}

.forgot-password a:hover {
    text-decoration: underline; 
}

.login-link-container {
    margin-top: 20px; 
    text-align: center; 
}

.login-link-container p {
    margin: 0; 
}

.login-link-container a {
    color: #142257; 
    text-decoration: none; 
    font-weight: 600; 
}

.login-link-container a:hover {
    text-decoration: underline; 
}

.modal {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    position: fixed; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1000; 
}

.modal-content {
    background-color: #fff; 
    border: 1px solid #ccc;
    padding: 40px; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    width: 400px; 
    max-width: 90%;
}

.modal-form-group {
    margin-bottom: 15px; 
}

.modal-form-group label {
    display: block; 
    margin-bottom: 5px; 
    font-weight: bold; 
}

.modal-form-group input {
    width: 100%; 
    padding: 10px; 
    border: 1px solid #ccc;
    border-radius: 4px; 
}

.reset-button {
    background-color: #0f1a3b; 
    color: white; 
    padding: 10px 15px; 
    border: none; 
    border-radius: 4px; 
    font-weight: 600;
    cursor: pointer; 
    font-size: 14px; 
    transition: background-color 0.3s; 
}

.reset-button:hover {
    background-color: #5873c7; 
}

.cancel-button {
    background-color: #ccc; 
    color: black;
    padding: 10px 15px; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
    font-size: 14px; 
    font-weight: 600;
    margin-left: 10px; 
    transition: background-color 0.3s; 
}

.cancel-button:hover {
    background-color: #999; 
}